@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

#dark {
  background-color: #4b4852;
  color: #edf1f7;
}

body {
  font-family: SavirCSS Font;
  background-color: #edf1f7;
  cursor:url(cursor.png), auto;
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
}

button {
  padding: 20px;
  border: 0px;
  background-color: #f2ecdc;
  font-size: 20px;
  cursor:url(cursor.png), auto;
}

@font-face {
  font-family: 'SavirCSS Font';
  font-style: normal;
  font-weight: 400;
  src: url(savircssfont.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

button {
  font-family: SavirCSS Font;
}

.navigation-top {
  font-family: SavirCSS Font;
  overflow: hidden;
  background-color: indigo;
  font-size: 20px;
}

.navigation-top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 8px;
  text-decoration: none;
  font-size: 20px;
}

.navigation-top a:hover {
  background-color: white;
  color: black;
}

.navigation-top a.active {
  background-color: darkblue;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
  cursor:url(cursor.png), auto;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 24px 8px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #edf1f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #4b4852;
   color: white;
   text-align: center;
}

.footer-unfixed {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 32px;
   background-color: #4b4852;
   color: white;
   text-align: center;
}

img:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}

.rainbow {
  
  text-shadow: 1px 1px 2px #000000;
  font-size:20px;
  -webkit-animation: rainbow 5s infinite; 
  
  -ms-animation: rainbow 5s infinite;
  
  animation: rainbow 5s infinite; 
}

@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}


code {
  background-color: lightgray;
}

::-webkit-scrollbar {
  width: 16px;
  cursor:url(cursor.png), auto;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #ad77e6; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9c52eb; 
}

.shadowed {
  
  text-shadow: 1px 1px 2px #000000;
  font-size:20px;
}

a {
  color: green;
  cursor:url(cursor.png), auto;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.linkbutton, .linkbutton:visited {
  background-color: #f2ecdc;
  color: #4b4852;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.linkbutton:hover, a:active {
  background-color: #f2ecdc;
  text-decoration: none;
}

.accordion {
  background-color: #edf1f7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.accordiontext {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #ad77e6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #9c52eb;
}

.container {
  border-radius: 5px;
  background-color: #edf1f7;
  padding: 20px;
}

