.pressed-button {
            border: none;
            padding: 20px;
            font-size: 20px;
            background-color: #f2ecdc;
            color: black;
            border-radius: 5px;
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
            cursor:url(cursor.png), auto;
            outline: none;
            transition: 0.2s all;
        }
        /* Adding transformation when the button is active */
          
        .pressed-button:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
